.grid-container{
    background-color: blue;
    justify-content: center;
    padding: 5px;
    display: grid;
    
}
.grid div{
    justify-content: center;
    margin: 25px;
    color: white;
    padding: 10px;
    border: 5px solid red;
}